/* mobile.css */
.container {
  width: 100%;
  margin: 0 auto;
  /* background: #f00; */
}

#title .title > h2 {
  /* font-size: 36px; */
}
#main_header {
  text-align: center; 
}
#main_header > .container {
  padding: 10px;
}
#main_header h1 { 
  position: fixed;
  left: 50%; top: -15px;
  transform: translateX(-50%);
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
}
#main_gnb {
  margin-top: 10px;
}
#util {
  margin-bottom: 10px;
}
.nav_group {
  position: fixed;
  left: 0; top: 0px;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  /* opacity: 0; */
  overflow: hidden;
  transition: 0.4s;
  z-index: 9;
}
.nav_group  li {
  margin: 1.4em 0;
}
.nav_group.show {
  height: 260px;
}

/* 메뉴 슬라이드 다운 시 글자색 반전 */
.nav_group + #toggle > i {
  color: rgb(0, 0, 0);
}
.nav_group.show + #toggle > i {
  color: rgb(0, 0, 0);
}

#toggle {
  position: fixed;
  left: 10px; top: 16px;
  z-index: 10;
}
#toggle > i { 
  /* color: #666; */
  font-size: 24px;
}