/* 원래style.css */
*{
    margin: 0; padding: 0;
}
a{ 
    text-decoration: none;
    color: #000;
}
ul, ol{
    list-style: none;
}
body{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}
/* container */
.container{
    width: 1200px;
    margin: 0 auto;
}
/* 헤더 */
#main_header{
    width: 100%;
    height: 82px;
    /* background: #ccc; */
}
#main_header h1{
    float: left;
    /* outline: 1px solid red; */
    margin-top: 15px;
}
#main_header h1 img{
    height: 50px;
}
/* 메인메뉴 */
#main_gnb .depth1 {
    margin-top: 27px;
    text-align: center;
    float: right;
    line-height: 30px;
}
#main_gnb .depth1 > li{
    position: relative;
    float: left;
    width: 130px;
    line-height: 30px;
    z-index: 10001;
}
#main_gnb .depth1 > li >a{
    width: 130px;
    display: block;
    margin-bottom: 15px;
    /* padding-bottom: 30px; */
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 3px solid #fff; */
    transition: 0.4s;
}

#main_gnb .depth1 > li >a::after{
    content: "";
    display: block;
    padding-top: 5px;
    width: 30px;
    height: 3px;
    background: #fff;
    background-clip: content-box;
    transition-duration: 0.5s;
    margin: 0 auto;
}
#main_gnb .depth1 > li:hover a::after{
    background: #3690ce;
    background-clip: content-box;
    width: 100px;
}


#main_gnb .depth1  li a:hover{
    color: #3690ce;
}
#main_gnb .depth2{
    padding-top: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 14px;
    /* border-right: 1px solid #ccc; */
    transition: 0.4s;
}
#main_gnb .depth2.show{
    height: 200px;
    overflow: hidden;
}
#main_gnb .depth2 a{
    display: block;
}
#ex{
    position: absolute;
    top: 75px;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 10000;
    transition: 0.4s;
    /* border-top: 3px solid #ccc; */
  }
  #ex.show {
      height: 230px;
      background: #fff;
  }

/* 배너영역 */
#main_banner{
    position: relative;
    background-image: url("../images/main.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
#main_banner h1{
    color: #fff;
    font-size: 60px;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#main_banner h1 span{
    color: #fcc94c;
}

/* 메인정보 */
#main{
    background: #f4fbff;
    padding-bottom: 100px;
}
#main .text{
    text-align: center;
    padding-top: 100px;
}
#main .text h2{
    font-size: 30px;
}
#main .text p{
    padding-top: 15px;
    line-height: 1.5em;
}
#main .text img {
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 70%;
  height: auto;
}


#sub2{
  padding-top: 100px;
}
#sub2 .text{
  text-align: center;
  padding-top: 100px;
}
#sub2 .text h2{
  font-size: 30px;
}
#sub2 .text p{
  padding-top: 15px;
  line-height: 1.5em;
}
#sub2 .text img {
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 70%;
  height: auto;
}
/* 서브정보 */
#sub3 .text{
    /* outline: 1px solid purple; */
    padding-top: 100px;
}
#sub3 .text h2{
    text-align: center;
    font-size: 30px;
}
#sub3 .text p{
    text-align: center;
    padding-top: 15px;
    line-height: 1.5em;
    padding-bottom: 80px;
}

#sub4 {
  padding-left: 21%;
  padding-top: 100px;
}
#sub4 .menu .menu_1{
    /* outline: 1px solid red; */
    float: left;
    width: 360px;
    text-align: center;
    margin-right: 30px;
}
#sub4 .menu .menu_1 img{
    float: left;
    transition: 0.4s;
}
#sub4 .menu .menu_1 .img_wrap{
    overflow: hidden;
    height: 250px;
  }
#sub4 .menu .menu_1 img:hover{
    transform: scale(1.1, 1.1);
}
#sub4 .menu .menu_1 .text{
    float: left;
    width: 360px;
    height: 165px;
    background: #f4fbff;
}
#sub4 .menu .menu_1 .text span{
    float: left;
    margin-left: calc(44.5%);
    text-align: center;
    margin-top: 35px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 1px solid #3690ce;
    border-radius: 6px;
    background: #3690ce;
    color: #fff;
}
#sub4 .menu .menu_1 .text strong{
    padding-top: 20px;
    /* outline: 1px solid blue; */
    float: left;
    text-align: center;
    padding-left: calc(13%);
    font-size: 20px;
}
#sub4 .menu .menu_2{
    /* outline: 1px solid red; */
    float: left;
    width: 360px;
    float: left;
    text-align: center;
    margin-right: 30px;
}
#sub4 .menu .menu_2 img{
    float: left;
    transition: 0.4s;
}
#sub4 .menu .menu_2 .img_wrap{
    overflow: hidden;
    height: 250px;
  }
#sub4 .menu .menu_2 img:hover{
    transform: scale(1.1, 1.1);
}
#sub4 .menu .menu_2 .text{
    float: left;
    width: 360px;
    height: 165px;
    background: #f4fbff;
}
#sub4 .menu .menu_2 .text span{
    float: left;
    margin-left: calc(44.5%);
    text-align: center;
    margin-top: 35px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 1px solid #3690ce;
    border-radius: 6px;
    background: #3690ce;
    color: #fff;
}
#sub4 .menu .menu_2 .text strong{
    padding-top: 20px;
    /* outline: 1px solid blue; */
    float: left;
    text-align: center;
    padding-left: calc(20%);
    font-size: 20px;
}
#sub4 .menu .menu_3{
    /* outline: 1px solid red; */
    float: left;
    width: 360px;
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 100px;
}
#sub4 .menu .menu_3 img{
    float: left;
    transition: 0.4s;
}
#sub4 .menu .menu_3 .img_wrap{
    overflow: hidden;
    height: 250px;
  }
#sub4 .menu .menu_3 img:hover{
    transform: scale(1.1, 1.1);
}
#sub4 .menu .menu_3 .text{
    float: left;
    width: 360px;
    height: 165px;
    background: #f4fbff;
}
#sub4 .menu .menu_3 .text span{
    float: left;
    margin-left: calc(44.5%);
    text-align: center;
    margin-top: 35px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 1px solid #3690ce;
    border-radius: 6px;
    background: #3690ce;
    color: #fff;
}
#sub4 .menu .menu_3 .text strong{
    padding-top: 20px;
    /* outline: 1px solid blue; */
    float: left;
    text-align: center;
    padding-left: calc(25%);
    font-size: 20px;
}

/* 아래베너 */
#bottom{
    position: relative;
    max-width: 1920px; 
    min-width: 1200px;
    height: 500px;
    margin: 50px 0;
    background-image: url("../images/buttom.jpg");
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#bottom .text{
    color: #fff;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%; 
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2.5em;
}
#bottom .text h2{
    font-weight: normal;
    font-size: 30px;
}
#bottom .text p{
    font-size: 20px;
}
#bottom .button{
    /* outline: 1px solid green; */
    position: absolute;
    left: 48%; 
    top: 64%;
    transform: translate(-50%, -50%);
}
#bottom .button a{
    border: 2px solid #fff;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    color: #fff;
}
#bottom .button a:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
}
#bottom .button a i{
    padding-left: 10px;
}

/* 푸터 */
#footer {
    width: 100%;
    min-width: 1280px;
    padding-top: 90px;
  }
  #header, #layerWrap, #contentWrap, #ftLink .link, #footer {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #footer .footer_top {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 0 7px;
  }
  #footer .footer_top .footer_link {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
  }
  #footer .footer_top .footer_link .ft_left {
    float: left;
  }
  #footer .footer_top .footer_link .ft_left li {
    display: inline-block;
    padding-right: 35px;
  }
  li {
    list-style: none;
  }
  #footer .footer_top .footer_link a {
    color: #474747;
    font-size: 14px;
  }
  button, input, select, textarea, a {
    vertical-align: middle;
  }
  #footer .footer_top .footer_link .ft_right {
    text-align: right;
    float: right;
    width: 300px;
    overflow: hidden;
    position: relative;
    height: 30px;
  }
  #footer .footer_top .footer_link .ft_right div {
    display: inline-block;
    width: 300px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    /* animation: marquee 7s linear infinite; */
    right: 0;
  }
  #footer .footer_top .footer_link .ft_right div span {
    float: left;
    width: 100%;
  }
  #footer .footer_top .footer_link .ft_right div span img {
    padding-right: 10px;
  }
  img {
    vertical-align: middle;
  }
  img, fieldset, button {
    border: 0 none;
  }
  #footer .footer_middle {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
  }
  #footer .footer_middle .ft_step_01 {
    float: left;
    width: 485px;
    border-right: 1px solid #e5e5e5;
    height: 260px;
  }
  #footer .footer_middle .ft_step_01 dt {
    padding: 10px 0 25px;
  }
  button, input, select, textarea, a {
    vertical-align: middle;
  }
  a {
    color: #787878;
    text-decoration: none;
  }
  #footer .footer_middle .ft_step_01 dd p {
    color: #707070;
    margin-bottom: 5px;
    font-size: 14px;
  }
  #footer .footer_middle .ft_step_02 {
    float: left;
    border-right: 1px solid #e5e5e5;
    padding: 10px 50px;
    height: 260px;
  }
  #footer .footer_middle .ft_step_02 dl {
    padding-bottom: 25px;
    letter-spacing: -1px;
  }
  #footer .footer_middle .ft_step_02 dl dd p {
    color: #707070;
    margin-bottom: 10px;
    font-size: 14px;
  }
  #footer .footer_middle .ft_step_02 dl dd a {
      color: #7a7a7a;
      display: inline-block;
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 12px;
      marign-top: 10px;
  }
  #footer .footer_middle .ft_step_02 dl dt {
    color: #000;
    font-size: 18px;
    padding-bottom: 20px;
  }
  #footer .footer_middle .ft_step_03 {
    float: right;
    padding: 10px 0 0 50px;
    width: 300px;
  }
  #footer .footer_middle .ft_step_03 dl {
    position: relative;
    padding-bottom: 10px;
  }
  #footer .footer_middle .ft_step_03 dl dt {
    color: #000;
    font-size: 18px;
    padding-bottom: 20px;
  }
  #footer .footer_middle .ft_step_03 dl dd p.tel {
    font-size: 20px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
  }
  #footer .footer_middle .ft_step_03 dl dd p {
    text-transform: uppercase;
    padding-bottom: 3px;
    font-size: 12px;
  }
  
  #footer .footer_middle .ft_step_03 dl dd p.link {
    position: absolute;
    right: 0;
    top: 0;
  }
  #footer .footer_middle .ft_step_03 dl dd p span.btn_bk {
    margin: 25px 0 5px;
    display: block;
    background: #2b2b2b;
    border: 1px solid #2b2b2b;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
  }
  #footer .footer_middle .ft_step_03 dl dd p .btn_bk a {
    font-size: 12px;
    text-align: center;
    color: #fff;
    display: block;
    padding: 7px 0;
  }
  #footer .footer_middle .ft_step_03 dl dd p span.btn_wh {
    display: block;
    background: #fff;
    border: 1px solid #2b2b2b;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
  }
  #footer .footer_middle .ft_step_03 dl dd p span.btn_wh a {
    font-size: 12px;
    display: block;
    color: #2b2b2b;
    padding: 15px 0;
  }
  #footer .footer_middle .ft_step_03 dl dd p {
    text-transform: uppercase;
    padding-bottom: 3px;
    font-size: 12px;
  }
  #footer .footer_bottom {
    background: #f5f5f5;
    text-align: center;
  }
  #footer .footer_bottom .ft_copy {
    color: #a9a9a9;
    padding: 20px 0 0;
    font-size: 13px;
  }
  #footer .footer_bottom .ft_copy li {
    padding: 0px 0 15px;
  }